.icono-explicacion{
    height: 180px;
    width: 180px;
}

.carousel {
    max-width: 800px;
    max-height: 450px;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-item {
    max-width: 800px;
    max-height: 450px;
    margin: 0 auto;
    transition: transform 0.6s ease; /*cambio suave*/
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.carousel-inner {
    overflow: hidden;
    position: relative;
}

.carousel-control-prev, .carousel-control-next {
    width: 5%;
}

.band-name {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: red;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 1000;
}

.navbar-img img {
    filter: invert(1);
    height: 40px;
    width: auto;
    margin-right: 5px;
    cursor: default;
}

.footer{
    background-color: #0A3A24;
}

.icono-footer img{
    filter: invert(1);
    height: 40px;
    width: auto;
}

.margen-form{
    margin-top: 100px;
    margin-left: 100px;
}

.icono-form{
    filter: invert(1);
    height: 300px;
    width: 300px;
}

#comienzo{
    margin-top: 100px;
}

.a7x-image{
    height: 500px;
    width: 800px;
    align-items: end;
}

.iron-image{
    height: 500px;
    width: 800px;
    align-items: end;
}

.lamb-image{
    height: 500px;
    width: 800px;
    align-items: end;
}

.metallica-image{
    height: 300px;
    width: 800px;
    align-items: end;
}

.slipknot-image{
    height: 500px;
    width: 800px;
    align-items: end;
}

.justify-text{
    text-align: justify;
}